
{% extends 'bbb/base.html' %}


{% block main %}


<div class="row">
    <div class="col-md-5 grid-margin stretch-card">

     {% if messages %}

        {% for message in messages %}
          {% if message.tags == 'success' %}
             <div class="p-3 m-2 alert alert-success alert-dismissible fade show" role="alert">
          {% else %}
              <div class="p-3 m-2 alert alert-warning alert-dismissible fade show" role="alert">
          {% endif %}
           {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          </div>

        {% endfor %}

    {% endif %}





         <!--<div class="card">-->
            <!--<div class="card-body">-->
                  <!--<h4 class="card-title">Create Meeting </h4>-->

                  <!--<form action="{% url 'index' %}" method="POST" class="forms-sample">-->
                    <!--{% csrf_token %}-->

                    <!--{% for f in form %}-->
                       <!--<div class="form-group row">-->
                          <!--<label class="col-sm-3 col-form-label"> {{f.label}} </label>-->
                          <!--<div class="col-sm-9"> {{f}} </div>-->
                       <!--</div>-->
                     <!--{% endfor %}-->

                    <!--<button type="submit" class="btn btn-success mr-2">Create</button>-->
                 <!--</form>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


 <div class="col grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Live Meetings  </h4>

                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Meeting ID</th>
                           <th>Duration</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for meeting in live_meetings %}

                         <tr>
                           <td>{{meeting.meetingID}}</td>
                           <td> {{meeting.duration}} min </td>

                             <td>
                            {% if meeting.running == 'true' %}
                             <span class="badge badge-success"  href="{% url 'end' meeting.meetingID %}"> running </span>
                             <a data-toggle="modal" data-target="#joinAttendeForm" data-id="{{ meeting.meetingID }}" class="badge badge-info joinatt" href="#"> join as att </a>
                             {% else %}
                                 <span class="badge badge-secondary"   href="{% url 'create' meeting.meetingID %}"> notrunning </span>
                                 <a class="badge badge-primary"  href="{% url 'join' meeting.meetingID %}"> join as mod </a>
                                 <a data-toggle="modal" data-target="#infoModal" data-id="{{ meeting.meetingID }}" class="badge badge-warning getinfo" href="#"> info </a>
                            {% endif %}
                        {% empty %}
                        <td>no meeting</td>
                        </tr>

                  {% endfor %}
                   </tbody>
                 </table>
               </div>
            </div>
         </div>
    </div>
</div>






<div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Meeting List | Database </h4>

                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Meeting ID</th>
                          <th>Name</th>
                          <th>Status</th>

                        </tr>
                      </thead>
                      <tbody>
                       {% for meetingdb in meetingsdb %}

                         <tr>
                           <td>{{meetingdb.meetingID}}</td>
                           <td> {{meetingdb.name}} </td>

                             <td>
                            {% if meetingdb.meetingID in open_meetings %}
                                 <a class="badge badge-danger"  href="{% url 'end' meetingdb.meetingID %}"> stop </a>

                             {% else %}
                                 <a class="badge badge-success"  href="{% url 'create' meetingdb.meetingID %}"> start </a>
                            {% endif %}

                        </tr>

                  {% endfor %}
                   </tbody>
                 </table>
               </div>
            </div>
         </div>
</div>





<!-- info Modal -->
<div class="modal fade bd-example-modal-lg" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="infoModalLabel"> meeting info </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">

            <tbody class="info-tbody">

            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- info Modal -->



<!-- join attendee form Modal -->
<div class="modal fade" id="joinAttendeForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="joinAttendeFormLabel"> join as attendee </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">

            <tbody>
               <form class="info-tbody" action="{% url 'attjoin' %}" method="POST"> {% csrf_token %}
                    <div class="">
                     <select class="attjoinopt form-control" name="meetingID" class="form-control">

                     </select>
                    </div>

                    <input name="attpassword" class="form-control form-control-sm m-2" type="text" placeholder="attendee password">
                    <input name="attname" class="form-control form-control-sm m-2" type="text" placeholder="attendee name">
                    <button type="submit"  class="btn btn-dark m-2 btn-sm"> Join </button>

               </form>

            </tbody>
        </table>
    </div>
  </div>
</div>
<!-- join attendee form -->



</div>

{% endblock %}

{% block js %}

 <script>
   $(document).ready(function() {
//>>>>>info modal===========================================================
       $('.getinfo').click(function () {
           meetingID = $(this).data('id');
            $('.info-thead').html('');
            $('.info-tbody').html('');
           $.ajax({
               type: "GET",
               url: "infomeeting/" + meetingID,
               dataType: 'json',
               success: function (data) {
                   $.each(data, function (key, value) {
                       // $('.info-thead').append(
                       //     '<th>' + key + '</th>'
                       // );

                       $('.info-tbody').append(
                           '<tr><th>'+ key +'</th><td>' + value +  '</td>'
                       );
                   })
               }
           })

       });

//<<<<<info modal ==============================================================



//>>>>> join as attendee========================================================

      $('.joinatt').click(function () {
          $('.attjoinopt').empty()
          meetingID = $(this).data('id');
          $('.attjoinopt').append(new Option(meetingID, meetingID));

      })

//<<<<< join as attendee==============================================================

   });

 </script>



{% endblock %}
